/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wdth' 400;
  font-size: 18px;
  line-height: 21px;
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  font-family: var(--accent-font);
  text-transform: uppercase;
}

.header-html {
  margin-block: 100px;
  margin-inline: auto;
  width: var(--header-html-width);
  height: var(--header-html-height);
  border: var(--border);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  background-color: #fff;
}

.title {
  font-size: var(--title-font-size);
  line-height: 100%;
}

.header-text {
  font-size: var(--header-text-size);
  font-weight: 400;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  width: var(--card-width);
  border: var(--border);
  background-color: #fff;
}

.card-title {
  padding-left: 10px;
  font-weight: 700;
  font-size: 18px;
  padding-block: 5px;
  border-bottom: var(--border);
}

.card-image-container {
  height: 924px;
  position: relative;
  border-bottom: var(--border);
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nutella-image {
  filter: contrast(130%);
}

.sun-image {
  filter: saturate(135%);
}

.ladybug-image {
  filter: sepia(34%);
}

.totro-image {
  filter: brightness(120%);
}

.me-image {
  filter: grayscale(50%);
}

.place-image {
  filter: saturate(115%);
}

.dog-image {
  filter: sepia(22%);
}

.cat-image {
  filter: brightness(108%);
}

.card-lable {
  position: absolute;
  right: 25px;
  top: 25px;
  font-family: var(--accent-font);
  mix-blend-mode: hard-light;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow:
  -1px 0 #fff, 
  0 1px #fff, 
  1px 0 #fff, 
  0 -1px #fff;
}

@supports ((text-stroke: 1px #fff;) or (-webkit-text-stroke: 1px #fff;)) {
  .card-lable {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card-content {
  padding: 25px;
}

.paragraf {
  margin-bottom: 27px;
}

.buttons-container {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 12px;
}

.button {
  border: var(--border);
  background-color: #fff;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.button::after {
  position: absolute;
  content: '';
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  left: 0;
  top: 0;
}

.button:hover::after {
  width: 100%;
  height: 100%;
  transform: translateX(0%);
}

.card__icon-button {
  height: 38px;
  background-color: #fff;
  border: 2px solid transparent;
  padding: 0px;
  transition: border 0.3s ease;
}

.like-icon:focus {
  outline: none;
}

.like-icon:focus-visible {
  outline: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: #000;
}

.like-icon {
  height: 38px;
  margin-block: auto;
}

.card__like-button {
  width: 130px;
  height: 38px;
  margin-top: 25px;
  text-transform: capitalize;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 #000;
  transition: box-shadow 0.3s ease;
}

.button__text {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
}

.save-button {
  margin: 50px 0 100px;
  padding: 15px 19px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.save-svg {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
}

.dialog {
  padding: 30px;
  max-width: 353px;
  position: fixed;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog-content {
  width: 100%;
  display: flex;
  gap: 20px;
}

.dialog-svg {
  max-height: 40px;
}

.dialog-text {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
}

.button-close {
  border: var(--border);
  background-color: transparent;
  font-size: 14px;
  font-family: var(--accent-font);
  font-weight: 400;
  width: 100%;
  padding-block: 12.5px;
  line-height: 90%;
}

.sparks {
  opacity: 0;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
  }

  .card-lable {
    right: 13px;
  }
}